/* styles.css */

/* Reset default margin and padding */
body, h1, p {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000;
    font-family: Arial, sans-serif;
    color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #141414;
}

header img {
    width: 100px;
}
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
  }

/* Style the main content section */
main {
    padding: 20px;
}

.hero {
    text-align: center;
    margin-bottom: 30px;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 20px;
}

.cta-button {
    padding: 10px 20px;
    background-color: #e50914;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.categories {
    margin-bottom: 30px;
}

.categories h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.categories ul {
    list-style: none;
}

.categories ul li {
    margin-bottom: 5px;
}

.categories ul li a {
    color: #fff;
    text-decoration: none;
}
/* Add this to your net.css file */
.featured-content {
    overflow: hidden; /* Hide overflowing content */
    white-space: nowrap; /* Prevent cards from stacking vertically */
  }
  
  .movie {
    display: inline-block; /* Display cards horizontally */
    width: 230px; /* Set the width of each card */
    margin-right: 2px; /* Add some spacing between cards */
    vertical-align: top; /* Align cards to the top */
    
  }
  
  /* Style for the previous and next buttons */
  
footer {
    padding: 10px;
    text-align: center;
    background-color: #141414;
}
